.image{
  width: 100px;
}
.card{
  
  display: flex;
  padding: 20px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;
  background: #ddebf8;
  border-bottom: 8px solid #d8cefe;
  font-family: Verdana;
}
.info{
  color: #2b2839;
}
